*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
img{
    width: 100px;
    height: 100px;
}
header{
    display: grid;
    grid-template-columns: 6rem auto 6rem;
    grid-gap: 10px;
    background-color: orange;
    height: 100px;
}
h1{
    text-align: center;
    height: 100px;
    line-height: 100px;
    font-weight: bolder;
    font-style: italic;
}


form{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 10px;
    background-color: #cccccc69;
    padding: 20px;

}
.column{
    grid-column:3/10 ;
    align-self: center;
}

span{
    color: red;
}
main button{
    width: auto;
    height: 40px;
    background-color: orange;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    font-style: italic;
    font-weight: bolder;
}
main button:hover{
    background-color: black;
    color: white;
}
footer{
    margin-top: 50px;
    width:100vw;
    height: 50px;
    background-color:orange;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    line-height: 50px;
}

.privacy,.baidu,.ins{
    font-size: 15px;
    font-weight: bold;
    color: black;
}
a:hover{
    background-color: white;
    color: orange;
}
nav{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    /* min-width: 160px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}
nav:hover .dropdown-content{
    display: block;
}

.dropdown-item {
    font-size: 18px;
    text-decoration: none;
    display: block;
    color: #333;
}
.dropdown-item:hover{
    background-color: #ddd;
}
nav button{
    font-size: 18px;
    margin-top: 40px;
    background-color: transparent;
    margin-right: 10px;
}

@media screen and (max-width: 50rem){
    header{
     height: 50px;
     /* width: 100vw; */
     display: grid;
     grid-template-columns: 50px auto 70px;
     /* gap:3px; */
     /* font-size: 50%; */
    }
    a img{
     height: 50px;
     width: 50px;
    }
    h1{
     height: 50px;
     line-height: 50px;
     text-align: center;
     margin: 0;
     font-size:  30px;
     white-space: pre-wrap;
    }
    nav button{
     margin: 0;
     font-size: 50%;
     height: 50px;
     margin-right: 10px;
    }
    /* label{
        display: block;
    } */
    /* form{
       display: flex;
       flex-direction: column;
       align-items: center;
    } */
    
    .name,
    .email,
    .hobby,
    .tier
    {
        display: flex;
        flex-direction: column;
        margin: 10px;
        text-align: center;
        align-items: center;
    }
    .dropdown-item {
        font-size: 13px;

    }
    form{
        text-align: center;
    }
    .column button{
        margin: 0 auto;
    }
    footer{
        width:auto;
    }
 }